#c_widget{
    box-sizing:border-box;
    height:100%;
    overflow:hidden;
    color:black;
    font-family:var(--font);
    display:flex;
    flex-direction:column;
    border-top:var(--bw) var(--bt) var(--bc);
}

#c_widget button:disabled:hover, #c_widget input[type=submit]:disabled:hover{
    background-color:var(--h);
    color:var(--pink);
}

#c_container{
    height:100%;
    overflow:auto;
}

#c_inputDiv{
    height:auto;
    padding:10px;
    border-top:var(--bw) var(--bt) var(--bc);
}

#c_widgetTitle{
    margin:-10px;
    margin-bottom:10px;
    padding:5px;
    text-transform:uppercase;
    text-align:right;
    background-color:#2D0B52;
    display:none;
}

.c-inputWrapper{
    
}

.c-input{
    width:100%;
    padding:4px;
    color:black;
    border:var(--bw) var(--bt) var(--bc);
	outline:none;
}

.c-input:focus{
    border:var(--bw) var(--bt) var(--bc);
}

.c-nameInput{
    border:var(--bw) var(--bt) var(--bc);
}

.c-textInput{
    width:calc(100%);
    max-width:900px;
    resize:none;
    font-family:var(--font);
    font-size:var(--size);
    display:block;
}

#c_submitButton{
    width:100%;
}

#c_replyingText{
    color:black;
    text-align:right;
}

.c-comment{
    display:flex;
    flex-direction:column;
    gap:10px;
    margin:10px;
    padding:10px;
    background-color:var(--h);
    text-align:left; 
}

.c-reply{
    display:block;
    width:100%;
    margin-bottom:10px;
    margin-left:auto;
    margin-right:0;
    padding:10px;
    background-color:var(--h);
}

.c-replyButton, .c-expandButton{
    display:none;
}

.c-reply:last-child{
    margin-bottom:0;
}

.c-replyContainer{
    margin-top:10px;
    padding:10px;
    background-color:white;
}

.c-name{
    margin:0;
    font-size:var(--size);
    font-weight:bold;
}

.c-timestamp{
    opacity:100%;
    font-size:12px;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}

.c-text{
    margin:0;
    font-family:var(--font);
    color:black;
    word-wrap:break-word;
}

input{
    font-family:var(--font);
    font-size:var(--size);
}

#c_pagination{
    text-align:center;
    margin:10px;
    display:flex;
    justify-content:space-between;
}

#c_pageNumber{
    display:flex;
    align-items:center;
}

.c_wrap{
    display:flex;
    align-items:center;
    gap:10px;
}

form{
    display:flex;
    flex-direction:column;
    gap:10px;
}