body{
    background-color:white;
    text-align:center;
    background-image:none;
    margin:10px;
    overflow:auto;
}

img{
    width:100%;
    max-width:600px;
    transition:0.3s;
    z-index:1;
    border:var(--bw) var(--bt) var(--bc);
    box-sizing:border-box;
    padding:4px;
    background-color:var(--b);
}

img:hover{
    opacity:0.8;
    transition:0.3s;
    z-index:1;
}

i{
    color:#e74492;
}

.review{
    display:none;
}

.linkswrap{
    display:flex;
    justify-content:center;
    gap:10px;
    flex-wrap:wrap;
}

.imgwrap{
    display:flex;
    justify-content:center;
    gap:10px;
}

.linkswrap > a > img{
    width:224px;;
    height:224px;
    object-fit:cover;
    display:block;
}

div > div{
    font-weight:bold;
}
