body{
    background-color:white;
    text-align:center;
    background-image:none;
    margin:10px;
    overflow:auto;
}

img{
    width:100%;
    max-width:600px;
    transition:0.3s;
    z-index:1;
    border: var(--bw) var(--bt) var(--bc);
    box-sizing: border-box;
    padding:10px;
    background-color:var(--h);
}

img:hover{
    opacity:0.8;
    transition:0.3s;
    z-index:1;
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

i{
    color:#e74492;
}

ul li:before{
    content:"\25A0 ";
    color:var(--pink);
    display:inline-block;
    width:1em;
    margin-left:-1em;
}

.review{
    display:none;
}

.linkswrap{
    display:flex;
    justify-content:center;
    gap:10px;
    flex-wrap:wrap;
}

.imgwrap{
    display:flex;
    justify-content:center;
    gap:10px;
}

.linkswrap > a > img{
    width:224px;;
    height:224px;
    object-fit: cover;
    display:block;
}