:root {
    --bg: #fff; /* container bgs */
    --color: #000; /* text color */
    --bw: 3px; /* border width */
    --bc: #34f2ff; /* border color */
    --h: #dbfcff; /* header bgs */
    --pink: #e74492;
    --bt: solid;  
}

* {
    box-sizing: border-box;
    scrollbar-color:#e74492 #fff;
    scrollbar-width:thin;
    cursor:url('/arrow.png'), pointer;
}

::-webkit-scrollbar{
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb{
    background: #e74492;
    border: 3.5px var(--bt) #FFFFFF;
    border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover{
    background: #ed75ae;
}

::-webkit-scrollbar-track{
    background: #FFFFFF;
    border-radius: 0px;
    box-shadow: inset 0px 0px 0px 0px #F0F0F0;
}

::selection {
    background: #34f2ff;
    color:white;
}
 
::-moz-selection {
    background: #34f2ff;
    color:white;
}

a{
    text-decoration: none;
    color:#e74492;
    text-shadow: 2px 2px 1px #34f2ff;
    transition:0.3s;
}

a:hover{
    
    transition:0.3s;
    letter-spacing:1.5px;
}

@font-face{
    font-family:'Legacy';
    src:url(/fonts/LegacySansStd-Medium.otf);
}

@font-face{
    font-family:'Pixel Operator';
    src:url(/fonts/PixelOperator.ttf);
}

@font-face{
    font-family:'Orbitron';
    src:url(/fonts/Orbitron.ttf);
}

@font-face{
    font-family:'YTTD';
    src:url(/fonts/mplus-1m-regular.ttf);
}

@font-face{
    font-family:'Yuzu';
    src:url(/fonts/Yuzu.ttf);
}

body {
    background-color:var(--bg);
    color: #000;
    font-family: 'Pixel Operator';
    font-size:20px;
    overflow:hidden;
    
}

.body:before{
    content: '';
    background-image:url('/heartbeat.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    background-position: center;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1000;
}

p{
    line-height:100%;
}

a{
    text-decoration: none;
    color:#e74492;
    transition:0.3s;
}

#mikuwrapper{
    display:flex;
    flex-direction:column;
    align-items:center;
    position:fixed;
/*    width:400px;
    height:300px;*/
    width: 579px;
    height: 444px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 7px 7px 0px 0px rgba(231,68,146,0.7);
    border: var(--bw) var(--bt) var(--bc);
    background-color:white;
}

#mikuwrapper img{
    position:absolute;
    /*margin-top:-75px;*/
    margin-right:16px;
    margin-top:38px;
    height:400px;
    width:auto;
    pointer-events: none;
}

#mikuheader{
    background-color:var(--h);
    border-bottom:var(--bw) var(--bt) var(--bc);
    padding:5px 10px;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
    width:100%;
    user-select: none;
}

#index, #about, #songs, #figrev, #shrines, #webring, #chatbox, #sites, #features, #games, #resources, #gallery{
    display:none;
    flex-direction:column;
    width: 494px;
    height:550px;
    min-width:362px;
    min-height: 230px;
    max-width:100%;
    max-height:100%;
    position: fixed;
    box-shadow: 7px 7px 0px 0px rgba(231,68,146,0.7);
    border: var(--bw) var(--bt) var(--bc);
    resize:both;
    overflow:auto;
    background-color:white;
}

#wrapperheader1, #wrapperheader2, #wrapperheader3, #wrapperheader4, #wrapperheader5, #wrapperheader6, #wrapperheader7, #wrapperheader8, #wrapperheader9, #wrapperheader10, #wrapperheader11, #wrapperheadernav{
    background-color:var(--h);
    border-bottom: var(--bw) var(--bt) var(--bc);
    padding:5px 10px;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
    width:100%;
    user-select: none;
}

#wrapperheader1:hover, #wrapperheader2:hover, #wrapperheader3:hover, #wrapperheader4:hover, #wrapperheader5:hover, #wrapperheader6:hover, #wrapperheader7:hover, #wrapperheader8:hover, #wrapperheader9:hover, #wrapperheader10:hover, #wrapperheader11:hover, #mikuheader:hover{
    cursor:url('/move.png'), move;
}

.buttons{
    display:flex;
    gap:10px;
    justify-content: center;
    align-content: center;
}

i{
    font-size:25px;
    color:var(--pink);
    transition:0.5s;
}

#wrapperheader1 i:hover, #wrapperheader2 i:hover, #wrapperheader3 i:hover, #wrapperheader4 i:hover, #wrapperheader5 i:hover, #wrapperheader6 i:hover, #wrapperheader7 i:hover, #wrapperheader8 i:hover, #wrapperheader9 i:hover, #wrapperheader10 i:hover, #wrapperheader11 i:hover, #mikuheader i:hover, #wrapperheadernav i:hover{
    color:#ed75ae;
    transition:0.5s;
    
}

#icons{
    display:flex;
    flex-wrap:wrap;
    flex-direction:column;
    position:fixed;
    gap:5px 20px;
    max-height:500px;
    z-index:-1;
    user-select: none;
}

#icons:hover{
    
}

#icons a{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align:center;
    flex-direction:column;
    gap:5px;
    width:90px;
    height:90px;
    padding:10px;
    color:var(--color);
    text-shadow:none;
}

#icons a:hover{
    background-color:var(--h);
    color:#000;
    letter-spacing:normal;
    
}

#icons i{
    font-size:35px;
    z-index:1;
    filter: drop-shadow(3px 3px 0px var(--bc));
}

#icons i:hover{
    
}

#header{
    border-bottom: var(--bw) var(--bt) var(--bc);
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:auto;
    padding:0px;
    background-color:var(--h);
    display:flex;
    justify-content: space-between;
    align-items:center;
    z-index:99999999;
    user-select: none;
}

#header img{
    width:25px;
    height:25px;
}

#header > div{
    display:flex;
    gap:5px;
}

#header i{
    font-size:18px;
    padding:0px 2px;
}

#header i:hover{
    
}

.hover{
    position:relative;
    display:inline-block;
}

.hoveritem{
    padding:7px 5px;
}

.hoveritem:hover{
    background-color:white;
    
}

.dropdown {
    display: none;
    position: absolute;
    background-color: var(--bg);
    min-width: 160px;
    z-index: 2147483647;
    border:var(--bw) var(--bt) var(--bc);
}

.dropdown a{
    color:var(--color);
    padding: 10px;
    text-decoration: none;
    display: block;
    text-shadow:none
}

.dropdown a:hover{
    background-color:var(--h);
    letter-spacing: normal;
    color:black;
}

.hover:hover .dropdown{
    display: block;
}

hr{
    border-top:var(--bw) var(--bt) var(--bc);
    margin:0px 7px;
}

iframe{
    border:none;
    width:100%;
    height:100%;
}

.chatbox{
    border:none;
    width:250px;
    height:400px;
}

#musicplayer{
    background-color:var(--bg);
    padding:5px;
}
 
.songtitle{
    padding:5px;
    text-align:center;
}
 
.controls{
    font-size:18px !important;
    text-align:center;
    width:100%;
    margin-top:-4px;
    margin-bottom:-4px
}

.controls td{
    padding:8px 5px 0px 5px;
}

.seeking, .volume{
    display:flex;
    justify-content: space-evenly;
    padding:10px 10px 0px 10px;
    background-color:var(--bg);
    color:var(--color);
}

.current-time{
    padding-right:5px;
    color:var(--color);
}

.total-duration{
    padding-left:5px;
    color:var(--color);
}

i.fas:hover{
    
}
 
i.fas.fa-pause,i.fas.fa-play,i.fas.fa-forward,i.fas.fa-backward{
    color:#e74492;
}

i.fas.fa-play, i.fas.fa-pause{
    font-size:30px !important;
}

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    background-color:var(--bg);
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #E74492;
    border-radius: 1px;
    border: 0px solid #000000;
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 0px solid #E74492;
    height: 10px;
    width: 10px;
    border-radius: 0px;
    background: #E74492;
    -webkit-appearance: none;
    margin-top: -4px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #E74492;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 2px;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #E74492;
    border-radius: 1px;
    border: 0px solid #000000;
}

input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 0px solid #E74492;
    height: 10px;
    width: 10px;
    border-radius: 0px;
    background: #E74492;
}

header{
    color:#e74492;
    font-family: 'Orbitron';
    font-size:20px;
    margin-bottom:5px;
}

ul{
    list-style:none;
}

ul li:before{
    content:"\25A0 ";
    color:#e74492;
    display:inline-block;
    width:1em;
    margin-left:-1.3em;
}

.mainheader{
    font-family:'Orbitron';
    font-weight:600;
    text-align:center;
    color:#e74492;
    background:var(--h);
    padding:15px;
    box-sizing:border-box;
    padding:10px;
    margin-top:10px;
    border:var(--bw) var(--bt) var(--bc);
}

.mainheader:before{
    content:attr(data-header);
}

img {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.update{
    background-color:var(--h);
    padding:5px;
    margin-bottom:10px;
}

#loader {
    position: fixed;
    top: 0;
    left: 0;
    bottom:0;
    right:0;
    z-index:999999999;
    width: 100%;
    height: 100%;
    background-color: white;
    margin: auto;
    color:#e74492;
    text-align:center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wave {
    width:5px;
    height:100px;
    background-color:var(--pink);
    margin:5px;
    animation: wave 1s linear infinite;
    transform:scale(0);
}

.wave:nth-child(2) {
    animation-delay: 0.1s;
}

.wave:nth-child(3) {
    animation-delay: 0.2s;
}

.wave:nth-child(4) {
    animation-delay: 0.3s;
}

.wave:nth-child(5) {
    animation-delay: 0.4s;
}

.wave:nth-child(6) {
    animation-delay: 0.5s;
}

.wave:nth-child(7) {
    animation-delay: 0.6s;
}

.wave:nth-child(8) {
    animation-delay: 0.7s;
}

.wave:nth-child(9) {
    animation-delay: 0.8s;
}

.wave:nth-child(10) {
    animation-delay: 0.9s;
}

@keyframes wave {
    0% {
    transform: scale(0);
    }
    50% {
    transform: scale(1);
    }
    100% {
    transform: scale(0);
    }
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

.lines {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: 999999999999999999999999999999999999999999999999999999999999;
    opacity: 0.05;
}

.lines:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    background: linear-gradient(to bottom, transparent 50%, rgba(0, 0, 0, .5) 51%);
    background-size: 100% 4px;
    will-change: background, background-size; animation: scanlines 0.2s linear infinite;
}

@keyframes scanlines {
    from {
    background: linear-gradient(to bottom, transparent 10%, rgba(0, 0, 0, .5) 51%); background-size: 100% 4px; }
    to {
    background: linear-gradient(to bottom, rgba(0, 0, 0, .5) 50%, transparent 51%);
    background-size: 100% 4px;
    }
}

#container {
    display:none;
}

#drawing-board{
    width:100%;
    height:100%;
    background-color:white;
    border:var(--bw) var(--bt) var(--bc);
    z-index:9999999999999999999999999999;
}

#drawing-board:hover{
    cursor:url('/pen.png'), sw-resize;
}

#toolbar {
    display:flex;
    flex-direction: column;
    padding: 10px;
    width: 100px;
    text-align:center;
    background-color: var(--h);
    border:var(--bw) var(--bt) var(--bc);
    border-right:0;
    height:100%;
    margin-top:28px;
}

#toolbar * {
    margin-bottom:10px;
}

#toolbar label {
}

#toolbar input {
    width: 100%;
    border:var(--bw) var(--bt) var(--bc);
}

button{
    border: var(--bw) var(--bt) var(--bc);
    outline: none;
    padding: 5px 8px;
    background-color: #dbfcff;
    font-family: 'Pixel Operator';
    font-size:16px;
    margin:2px 0px;
    transition:0.2s;
    color:#e74492;
}

button:hover{
    background-color: #e74492;
    color:white;
    transition:0.2s;
}

.fullscreen{
    width: 100% !important;
    height: calc(100% - (17px * 2)) !important;
    display: flex;
    top: 35px !important;
    left: 0px !important;
    transform:none !important;
    resize:none;
}

#pluseleven, #plusten, #plusnine, #pluseight, #plusseven, #plussix, #plusfive, #plusfour, #plusthree, #plustwo, #plusone{
    color:var(--pink);
    width:100%;
    font-size:25px;
    transition:0.5s;
}

#pluseleven:hover, #plusten:hover, #plusnine:hover, #pluseight:hover, #plusseven:hover, #plussix:hover, #plusfive:hover, #plusfour:hover, #plusthree:hover, #plustwo:hover, #plusone:hover{
    color:#ed75ae;
    transition:0.5s;
}

#pluseleven:before, #plusten:before, #plusnine:before, #pluseight:before, #plusseven:before, #plussix:before, #plusfive:before, #plusfour:before, #plusthree:before, #plustwo:before, #plusone:before{
    font: var(--fa-font-sharp-solid);
    content: "\f0fe";
    
}

#pluseleven.active:before, #plusten.active:before, #plusnine.active:before, #pluseight.active:before, #plusseven.active:before, #plussix.active:before, #plusfive.active:before, #plusfour.active:before, #plusthree.active:before, #plustwo.active:before, #plusone.active:before{
    font: var(--fa-font-sharp-solid);
    content: "\f146";

}

.toggle{
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
}

