* {
    box-sizing: border-box;
    scrollbar-color:#e74492 #fff;
    scrollbar-width:thin;
    cursor:url('/arrow.png'), pointer;
}

a{
    text-decoration: none;
    color:#e74492;
    text-shadow: 2px 2px 1px #34f2ff;
    transition:0.3s;
}

a:hover{

    transition:0.3s;
    letter-spacing:1.5px;
}

::-webkit-scrollbar{
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb{
    background: #e74492;
    border: 3.5px solid #FFFFFF;
    border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover{
    background: #ed75ae;
}

::-webkit-scrollbar-track{
    background: #FFFFFF;
    border-radius: 0px;
    box-shadow: inset 0px 0px 0px 0px #F0F0F0;
}

::selection {
    background: #34f2ff;
    color:white;
}

::-moz-selection {
    background: #34f2ff;
    color:white;
}

body{
    margin:auto;
    text-align: center;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap:10px;
    font-family: "Pixel Operator";
    font-size:20px;
    margin:10px;
}    

button{
    border: 3px solid #34f2ff;
    outline: none;
    padding: 5px 8px;
    background-color: #dbfcff;
    font-family: 'Pixel Operator';
    font-size:16px;
    margin:2px 0px;
    transition:0.2s;
    color:#e74492;
}

button:hover{
    background-color: #e74492;
    color:white;
    transition:0.2s;
}

input{
    padding-left:5px;
    border:3px solid #34f2ff;
    font-family:'Pixel Operator';
    font-size:20px;
    width:50px;
}

header{
    color:#e74492;
    font-family: 'Orbitron';
    font-size:20px;
    text-align: center;
}

@font-face{
    font-family:'Pixel Operator';
    src:url(https://files.catbox.moe/kyguk9.ttf);
}

@font-face{
    font-family:'Orbitron';
    src:url(https://files.catbox.moe/cckohn.ttf);
}